In [1]:
import pandas as pd
from sqlalchemy import create_engine , text

In [2]:
username = 'postgres'
password = 'hellosql'
database = 'Amazon'
host = 'localhost'
port = '5432' #default PostgreSQL port

# Create the connection string
connection_string = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}'
        
# Create the engine
engine = create_engine(connection_string)

In [3]:
amazon_sql = 'SELECT * FROM amazon_prime_titles'
uncleaned_df = pd.read_sql(amazon_sql, engine)
#setting the streaming platform to amazon prime for all titles
uncleaned_df['streaming_platform'] = 'Amazon Prime'
uncleaned_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,streaming_platform
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,None,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon Prime
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon Prime
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,None,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon Prime
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,None,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon Prime
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,None,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon Prime
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",None,None,1940,7+,60 min,Comedy,New York City street principles get an East Si...,Amazon Prime
9664,s9665,TV Show,Planet Patrol,None,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",None,None,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",Amazon Prime
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",None,None,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",Amazon Prime
9666,s9667,TV Show,Maradona: Blessed Dream,None,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",None,None,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",Amazon Prime
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",None,None,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",Amazon Prime

In [4]:
# creating a dataframe with just movies

query = "SELECT show_id, type,title,date_added, release_year,rating, duration, listed_in FROM amazon_prime_titles WHERE type = 'Movie';"
movies_df = pd.read_sql(query, engine)
movies_df['streaming_platform'] = 'Amazon Prime'
movies_df

,show_id,type,title,date_added,release_year,rating,duration,listed_in,streaming_platform
0,s1,Movie,The Grand Seduction,"March 30, 2021",2014,None,113 min,"Comedy, Drama",Amazon Prime
1,s2,Movie,Take Care Good Night,"March 30, 2021",2018,13+,110 min,"Drama, International",Amazon Prime
2,s3,Movie,Secrets of Deception,"March 30, 2021",2017,None,74 min,"Action, Drama, Suspense",Amazon Prime
3,s4,Movie,Pink: Staying True,"March 30, 2021",2014,None,69 min,Documentary,Amazon Prime
4,s5,Movie,Monster Maker,"March 30, 2021",1989,None,45 min,"Drama, Fantasy",Amazon Prime
...,...,...,...,...,...,...,...,...,...
7809,s9661,Movie,The Man in the Hat,None,2021,13+,96 min,Comedy,Amazon Prime
7810,s9663,Movie,River,None,2021,16+,93 min,"Drama, Science Fiction, Suspense",Amazon Prime
7811,s9664,Movie,Pride Of The Bowery,None,1940,7+,60 min,Comedy,Amazon Prime
7812,s9666,Movie,Outpost,None,2008,R,90 min,Action,Amazon Prime
7813,s9668,Movie,Harry Brown,None,2010,R,103 min,"Action, Drama, Suspense",Amazon Prime

In [5]:
movies_df.isna().sum()
#date_added for the majority of the rows are null so it will be dropped
#rating is null for a small minority of the data so those rows will be dropped
#also dropping show_id as it is not needed for our data analysis

show_id                  0
type                     0
title                    0
date_added            7798
release_year             0
rating                 331
duration                 0
listed_in                0
streaming_platform       0
dtype: int64

In [6]:
movies_df = movies_df.drop(columns=['date_added','show_id'])
movies_df = movies_df.dropna()
movies_df

,type,title,release_year,rating,duration,listed_in,streaming_platform
1,Movie,Take Care Good Night,2018,13+,110 min,"Drama, International",Amazon Prime
16,Movie,Zoombies,2016,13+,87 min,"Horror, Science Fiction",Amazon Prime
17,Movie,Zoe,2018,R,104 min,Science Fiction,Amazon Prime
18,Movie,Zis Boom Bah,1941,NR,62 min,"Arts, Entertainment, and Culture, Comedy, Drama",Amazon Prime
19,Movie,Zandalee,1991,R,94 min,Drama,Amazon Prime
...,...,...,...,...,...,...,...
7809,Movie,The Man in the Hat,2021,13+,96 min,Comedy,Amazon Prime
7810,Movie,River,2021,16+,93 min,"Drama, Science Fiction, Suspense",Amazon Prime
7811,Movie,Pride Of The Bowery,1940,7+,60 min,Comedy,Amazon Prime
7812,Movie,Outpost,2008,R,90 min,Action,Amazon Prime
7813,Movie,Harry Brown,2010,R,103 min,"Action, Drama, Suspense",Amazon Prime

In [7]:
movies_df.duplicated().sum() # no duplicated rows in the dataframe

0

In [8]:
#looking for Erroneous Values

print(movies_df['release_year'].value_counts())
print(movies_df['rating'].value_counts())
print(movies_df['duration'].value_counts())
print(movies_df['listed_in'].value_counts())

release_year
2021    1126
2019     700
2020     698
2018     407
2016     383
        ...
1926       2
1922       2
1923       1
1924       1
1927       1
Name: count, Length: 100, dtype: int64
rating
13+         1849
16+         1272
18+         1097
R           1010
ALL          988
PG-13        393
7+           288
PG           253
NR           194
G             93
UNRATED       33
NC-17          3
AGES_18_       3
NOT_RATE       3
AGES_16_       2
16             1
ALL_AGES       1
Name: count, dtype: int64
duration
91 min     213
90 min     209
92 min     194
89 min     183
88 min     175
          ...
485 min      1
550 min      1
601 min      1
479 min      1
191 min      1
Name: count, Length: 202, dtype: int64
listed_in
Drama                                               844
Comedy                                              430
Drama, Suspense                                     335
Comedy, Drama                                       328
Action, Drama                                       270
                                                   ...
Comedy, Drama, Faith and Spirituality                 1
Comedy, Kids, LGBTQ                                   1
Arts, Entertainment, and Culture, LGBTQ, Romance      1
Special Interest, Suspense                            1
Anime, Comedy, Drama                                  1
Name: count, Length: 430, dtype: int64

In [9]:
#replacing Erroneous Values with values in line with the rest of the data for ratings
movies_df['rating'] = movies_df['rating'].replace('AGES_18_', '18+')
movies_df['rating'] = movies_df['rating'].replace('AGES_16_', '16+')
movies_df['rating'] = movies_df['rating'].replace('ALL_AGES', 'ALL')
movies_df['rating'] = movies_df['rating'].replace('16', '16+')
movies_df['rating'] = movies_df['rating'].replace('NOT_RATE', 'NR')
movies_df['rating'].value_counts()

rating
13+        1849
16+        1275
18+        1100
R          1010
ALL         989
PG-13       393
7+          288
PG          253
NR          197
G            93
UNRATED      33
NC-17         3
Name: count, dtype: int64

In [10]:
movies_df.info()  #looking at the data types and which ones to change

<class 'pandas.core.frame.DataFrame'>
Index: 7483 entries, 1 to 7813
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                7483 non-null   object
 1   title               7483 non-null   object
 2   release_year        7483 non-null   int64
 3   rating              7483 non-null   object
 4   duration            7483 non-null   object
 5   listed_in           7483 non-null   object
 6   streaming_platform  7483 non-null   object
dtypes: int64(1), object(6)
memory usage: 467.7+ KB

In [11]:
#creating a new column for duration to create an int value for minutes
def slice_minutes(min):
    return int(min[:-4])

movies_df['duration_minutes'] = movies_df['duration'].apply(slice_minutes)
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7483 entries, 1 to 7813
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                7483 non-null   object
 1   title               7483 non-null   object
 2   release_year        7483 non-null   int64
 3   rating              7483 non-null   object
 4   duration            7483 non-null   object
 5   listed_in           7483 non-null   object
 6   streaming_platform  7483 non-null   object
 7   duration_minutes    7483 non-null   int64
dtypes: int64(2), object(6)
memory usage: 526.1+ KB

In [12]:
#dropping the original duration column as it is no longer needed
movies_df = movies_df.drop(columns='duration')
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7483 entries, 1 to 7813
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                7483 non-null   object
 1   title               7483 non-null   object
 2   release_year        7483 non-null   int64
 3   rating              7483 non-null   object
 4   listed_in           7483 non-null   object
 5   streaming_platform  7483 non-null   object
 6   duration_minutes    7483 non-null   int64
dtypes: int64(2), object(5)
memory usage: 467.7+ KB

In [13]:
# creating a dataframe with just TV shows
query = "SELECT show_id, type,title,date_added, release_year,rating, duration, listed_in FROM amazon_prime_titles WHERE type = 'TV Show';"
tv_df = pd.read_sql(query, engine)
tv_df['streaming_platform'] = 'Amazon Prime'
tv_df

,show_id,type,title,date_added,release_year,rating,duration,listed_in,streaming_platform
0,s87,TV Show,Wipeout Canada,None,2011,ALL,1 Season,"Comedy, Documentary, Unscripted",Amazon Prime
1,s18,TV Show,Zoo Babies,None,2008,ALL,1 Season,"Kids, Special Interest",Amazon Prime
2,s19,TV Show,Zoë Coombs Marr: Bossy Bottom,None,2020,18+,1 Season,"Comedy, Talk Show and Variety",Amazon Prime
3,s21,TV Show,Zoboomafoo,None,2001,TV-Y,1 Season,Kids,Amazon Prime
4,s22,TV Show,Zo Zo Zombie: Mini-Series,None,2020,TV-Y7,1 Season,"Action, Anime, Comedy",Amazon Prime
...,...,...,...,...,...,...,...,...,...
1849,s9648,TV Show,Kids In The Hall,"October 10, 2021",1995,TV-14,5 Seasons,"Arts, Entertainment, and Culture, Comedy",Amazon Prime
1850,s9652,TV Show,Glass Room,None,2019,16+,1 Season,Drama,Amazon Prime
1851,s9662,TV Show,Terrahawks,None,1983,ALL,3 Seasons,TV Shows,Amazon Prime
1852,s9665,TV Show,Planet Patrol,None,2018,13+,4 Seasons,TV Shows,Amazon Prime
1853,s9667,TV Show,Maradona: Blessed Dream,None,2021,TV-MA,1 Season,"Drama, Sports",Amazon Prime

In [14]:
tv_df.isna().sum()  
#date_added is mostly null so the column will be dropped
# rating nulls are a small minority so those rows will be dropped
#also dropping show_id as it is not needed for our data analysis

show_id                  0
type                     0
title                    0
date_added            1715
release_year             0
rating                   6
duration                 0
listed_in                0
streaming_platform       0
dtype: int64

In [15]:
tv_df = tv_df.drop(columns=['date_added', 'show_id'])
tv_df = tv_df.dropna()
tv_df

,type,title,release_year,rating,duration,listed_in,streaming_platform
0,TV Show,Wipeout Canada,2011,ALL,1 Season,"Comedy, Documentary, Unscripted",Amazon Prime
1,TV Show,Zoo Babies,2008,ALL,1 Season,"Kids, Special Interest",Amazon Prime
2,TV Show,Zoë Coombs Marr: Bossy Bottom,2020,18+,1 Season,"Comedy, Talk Show and Variety",Amazon Prime
3,TV Show,Zoboomafoo,2001,TV-Y,1 Season,Kids,Amazon Prime
4,TV Show,Zo Zo Zombie: Mini-Series,2020,TV-Y7,1 Season,"Action, Anime, Comedy",Amazon Prime
...,...,...,...,...,...,...,...
1849,TV Show,Kids In The Hall,1995,TV-14,5 Seasons,"Arts, Entertainment, and Culture, Comedy",Amazon Prime
1850,TV Show,Glass Room,2019,16+,1 Season,Drama,Amazon Prime
1851,TV Show,Terrahawks,1983,ALL,3 Seasons,TV Shows,Amazon Prime
1852,TV Show,Planet Patrol,2018,13+,4 Seasons,TV Shows,Amazon Prime
1853,TV Show,Maradona: Blessed Dream,2021,TV-MA,1 Season,"Drama, Sports",Amazon Prime

In [16]:
tv_df.duplicated().sum() # no duplicated rows in the dataframe

0

In [17]:
#looking for Erroneous Values

print(tv_df['release_year'].value_counts())
print(tv_df['rating'].value_counts())
print(tv_df['duration'].value_counts())
print(tv_df['listed_in'].value_counts())

release_year
2021    299
2020    225
2019    199
2018    185
2017    158
2016    118
2014     96
2015     96
2013     62
2012     55
2011     40
2010     34
2008     33
2009     32
2005     21
2007     19
2006     18
2004     14
2003     13
1995     10
1999      9
2000      9
2002      9
2001      9
1998      7
1997      6
1989      6
1978      5
1990      4
1992      4
1986      4
1993      3
1954      3
1991      3
1984      3
1981      3
1974      3
1994      3
1969      2
1985      2
1959      2
1988      2
1963      2
1967      2
1996      2
1932      1
1987      1
1968      1
1946      1
1960      1
1962      1
1955      1
1961      1
1945      1
1972      1
1979      1
1936      1
1975      1
1983      1
Name: count, dtype: int64
rating
ALL      280
16+      275
13+      268
TV-14    208
TV-PG    169
18+      146
TV-NR    105
7+        97
TV-G      81
TV-MA     77
TV-Y      74
TV-Y7     39
NR        29
Name: count, dtype: int64
duration
1 Season      1336
2 Seasons      229
3 Seasons      110
4 Seasons       62
5 Seasons       39
6 Seasons       23
7 Seasons       15
8 Seasons       10
9 Seasons        6
10 Seasons       5
11 Seasons       3
14 Seasons       3
12 Seasons       3
29 Seasons       1
21 Seasons       1
19 Seasons       1
15 Seasons       1
Name: count, dtype: int64
listed_in
TV Shows                           262
Animation, Kids                    176
Drama                              115
Documentary, Special Interest      114
Kids                               108
                                  ...
Romance, Science Fiction             1
Action, Suspense, Unscripted         1
Adventure, Drama                     1
Action, Documentary, Unscripted      1
Action, Romance                      1
Name: count, Length: 247, dtype: int64

In [18]:
tv_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1848 entries, 0 to 1853
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                1848 non-null   object
 1   title               1848 non-null   object
 2   release_year        1848 non-null   int64
 3   rating              1848 non-null   object
 4   duration            1848 non-null   object
 5   listed_in           1848 non-null   object
 6   streaming_platform  1848 non-null   object
dtypes: int64(1), object(6)
memory usage: 115.5+ KB

In [19]:
#creating a new column for duration to have an int value for seasons
def slice_seasons(season):
    if len(season) <= 8:
        return int(season[:-7])
    else:
        return int(season[:-8])

    
tv_df['duration_seasons'] = tv_df['duration'].apply(slice_seasons)

tv_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1848 entries, 0 to 1853
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                1848 non-null   object
 1   title               1848 non-null   object
 2   release_year        1848 non-null   int64
 3   rating              1848 non-null   object
 4   duration            1848 non-null   object
 5   listed_in           1848 non-null   object
 6   streaming_platform  1848 non-null   object
 7   duration_seasons    1848 non-null   int64
dtypes: int64(2), object(6)
memory usage: 129.9+ KB

In [20]:
#dropping the original duration column
tv_df = tv_df.drop(columns='duration')
tv_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1848 entries, 0 to 1853
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                1848 non-null   object
 1   title               1848 non-null   object
 2   release_year        1848 non-null   int64
 3   rating              1848 non-null   object
 4   listed_in           1848 non-null   object
 5   streaming_platform  1848 non-null   object
 6   duration_seasons    1848 non-null   int64
dtypes: int64(2), object(5)
memory usage: 115.5+ KB

In [21]:
#creating new csv files for each dataframe to use with the rest of our data
outgoing_movies_df = movies_df.to_csv('AmazonMovies.csv', index = True)
outgoing_tv_df = tv_df.to_csv('AmazonTvShows.csv', index = True)